<!DOCTYPE html>
<html>

<head>
    <title>Stock Simulation</title>
    <html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/level.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .center {
            text-align: center;
        }
        .button1 {
            background-color: #F26E22;
            color: white;
            padding: 15px 28px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 25px auto 35px;
            font-family: "Arial Light";
            vertical-align: middle;
            border-radius: 5px;
}

<body>
    <a href={{ url_for( 'home')}} class="button1">< BACK</a>
    <h1>Level One</h1>

    <div class="center">
        <button id="myBtn">Finish Level One</button>

        <div id="pass" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2> Result: Passed!</h2>
                </div>

                <div class="modal-body">
                    <p>You did the thing!</p>
                </div>

                <div class="modal-footer">
                    <div class="right">
                        <a href={{ url_for( 'home')}} class="button2">Exit</a>
                        <a href={{ url_for( 'levTwo')}} class="button3">Continue</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="fail" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2> Result: Not Quite!</h2>
                </div>

                <div class="modal-body">
                    <p>You didn't do the thing!</p>
                </div>

                <div class="modal-footer">
                    <div class="right">
                        <a href={{ url_for( 'home')}} class="button2">Exit</a>
                        <a href={{ url_for( 'levOne')}} class="button3">Try Again</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var e = document.getElementById("flip-1");
            var modal;
            var span;
            if (true) {
                modal = document.getElementById("pass");

                span = document.getElementsByClassName("close")[0];

            } else {
                modal = document.getElementById("fail");

                span = document.getElementsByClassName("close")[1];

            }
            var btn = document.getElementById("myBtn");

            btn.onclick = function() {
                modal.style.display = "block";
            }

            span.onclick = function() {
                modal.style.display = "none";
            }
        </script>

    </div>
</body>

</html>
