<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/level.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style>
		h1 {
		    text-align: center;
		    font-family: 'Roboto';
		    font-weight: lighter;
		    padding-top: 11px;
		    padding-bottom: 30px;
		    font-size: 44px;
		    margin-bottom: 20px;
		    display: block;
		}
		.center {
			text-align: center;
		}
		.button1 {
    		background-color: #F26E22;
    		color: white;
		    padding: 15px 28px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 20px;
		    margin: 25px auto 35px;
		    font-family: 'Roboto';
		    vertical-align: middle;
		    border-radius: 5px;
    }

	</style>
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<a href={{ url_for('home')}} class="button1">< BACK</a>
	<h1>Level Two</h1>
	<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Collapsible Group 1</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Collapsible Group 2</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Collapsible Group 3</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div>
	<div class="center">
		<button id="myBtn">Finish Level Two</button>

		<div id="pass" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close">&times;</span>
					<h2> Result: Passed!</h2>
				</div>

				<div class="modal-body">
					<p>You did the thing!</p>
				</div>

				<div class="modal-footer">
					<div class="right">
						<a href={{ url_for('home')}} class="button2">Exit</a>
						<a href={{ url_for('levThree')}} class="button3">Continue</a>
					</div>
				</div>
			</div>
		</div>

		<div id="fail" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close">&times;</span>
					<h2> Result: Not Quite!</h2>
				</div>

				<div class="modal-body">
					<p>You didn't do the thing!</p>
				</div>

				<div class="modal-footer">
					<div class="right">
						<a href={{ url_for('home')}} class="button2">Exit</a>
						<a href={{ url_for('levTwo')}} class="button3">Try Again</a>
					</div>
				</div>
			</div>
		</div>

		<script>
			var e = document.getElementById("flip-1");
			var modal;
			var span;
			if (true) {
				modal = document.getElementById("pass");

				span = document.getElementsByClassName("close")[0];

			} else {
				modal = document.getElementById("fail");

				span = document.getElementsByClassName("close")[1];

			}
			var btn = document.getElementById("myBtn");

			btn.onclick = function () {
				modal.style.display = "block";
			}

			span.onclick = function () {
				modal.style.display = "none";
			}
		</script>

	</div>
</body>

</html>