<!DOCTYPE html>
<html>

<head>
    <title>Stock Simulation</title>
    <html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/level.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        h1 {
            text-align: center;
            font-family: 'Arial Light';
            font-weight: lighter;
            padding-top: 11px;
            padding-bottom: 10px;
            font-size: 44px;
            margin-bottom: 10px;
            display: block;
        }
        h2 {
            text-align: center;
            font-family: 'Arial Light';
            font-weight: lighter;
            padding-top: 11px;
            padding-bottom: 15px;
            font-size: 30px;
            margin-bottom: 15px;
            display: block;
        }
        h5 {
            text-align: center;
            font-family: 'Arial Light';
            font-weight: lighter;
            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 17px;
            margin-bottom: 1px;
            display: block;
        }
        .center {
            text-align: center;
        }
        .button1 {
            background-color: #F26E22;
            color: white;
            padding: 15px 28px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 25px auto 35px;
            font-family: 'Arial Light';
            vertical-align: middle;
            border-radius: 1px;
        }
        .i-am-centered { margin: auto; max-width: 800px;}
    }

    </style>
</head>

<body> <br>
<div class="row" style="text-align: center;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
    <img src="static/foxstockhorizontalstackfinal-01.png" alt="foxstocks logo" height = 100px width = 375px />
    </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3"><a href={{ url_for('index')}} class="button1">< BACK</a></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2" style ="text-align:center;"><p style="text-align: center;
            font-family: 'Arial Light';
            font-weight: lighter;
            padding-top: 11px;
            padding-bottom: 30px;
            font-size: 30px;
            margin-bottom: 20px;
            display: block;">Level Three</p></div>
</div>

<div class = "i-am-centered">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
        <div class="card" style="width:450px;margin-right:30px;height:100px">
            <div class="card-body">
                <div class="media">
                    <div class="media-left">
                        <img src="static/foxstocksnumber3lessborder-01.png" class="media-object" style="width:60px">
                    </div>
                        <div class="media-body">
                            <p style ="text-align:left;font-size:15px;padding-left:10px">Learn to buy, sell, and sell short from 7 stock options with a starting value of $100,000 for a 10% increase</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <div class = "card" style="width:200px;margin-right:30px;height:100px">
            <div class = "card-body" style="height:100px;line-height:1px;width:200px">
                <p>Start:      January 2008</p>
                <p>End:        December 2008</p><br><br><br><br><br><br><br><br><br><br>
                <p>Current Date:</p>
                <p>{{histData['AAPL'][0][0]}}</p>
            </div>
        </div>
    </div>
    </div>
</div>

<br><br><br>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
<div id="accordion" style ="width:550px;">
  <div class="card">
    <div class="card-heading">
      <h4 class="card-title">
        <a class="card-link" data-toggle="collapse" href="#collapse1" style="font-size:15px;margin-left:15px;color:gray">
        APPLE INC.</a>
      </h4>
    </div>
    <div id="collapse1" class="card-collapse collapse in">
        <div class="card-header" style="font-family: Arial Light;font-size: 11px"><strong>NASDAQ: AAPL</strong></div>
      <div class="card-body" style="font-size:12px">
          <table class="table table-bordered" style="max-height: 50px">
            <thead>
              <tr>
                <th>Date</th>
                <th>Stock Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{histData['AAPL'][0][0]}}</td>
                <td>{{histData['AAPL'][0][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['AAPL'][1][0]}}</td>
                <td>{{histData['AAPL'][1][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['AAPL'][2][0]}}</td>
                <td>{{histData['AAPL'][2][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['AAPL'][3][0]}}</td>
                <td>{{histData['AAPL'][3][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['AAPL'][4][0]}}</td>
                <td>{{histData['AAPL'][4][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['AAPL'][5][0]}}</td>
                <td>{{histData['AAPL'][5][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['AAPL'][6][0]}}</td>
                <td>{{histData['AAPL'][6][1]}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">
      <h4 class="card-title">
        <a class="card-link" data-toggle="collapse" href="#collapse2" style="font-size:15px;margin-left:15px;color:gray">
        BLACKROCK INC.</a>
      </h4>
    </div>
    <div id="collapse2" class="card-collapse collapse in">
        <div class="card-header" style="font-family: Arial Light;font-size: 11px"><strong>NYSE: BLK</strong></div>
      <div class="card-body" style="font-size:12px">
      <table class="table table-bordered" style="max-height: 50px">
            <thead>
              <tr>
                <th>Date</th>
                <th>Stock Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{histData['BLK'][0][0]}}</td>
                <td>{{histData['BLK'][0][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['BLK'][1][0]}}</td>
                <td>{{histData['BLK'][1][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['BLK'][2][0]}}</td>
                <td>{{histData['BLK'][2][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['BLK'][3][0]}}</td>
                <td>{{histData['BLK'][3][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['BLK'][4][0]}}</td>
                <td>{{histData['BLK'][4][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['BLK'][5][0]}}</td>
                <td>{{histData['BLK'][5][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['BLK'][6][0]}}</td>
                <td>{{histData['BLK'][6][1]}}</td>
              </tr>
            </tbody>
          </table></div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">
      <h4 class="card-title">
        <a class="card-link" data-toggle="collapse" href="#collapse3" style="font-size:15px;margin-left:15px;color:gray">
        JPMORGAN CHASE & CO.</a>
      </h4>
    </div>
    <div id="collapse3" class="card-collapse collapse in">
      <div class="card-header" style="font-family: Arial Light;font-size: 11px"><strong>NYSE: JPM</strong></div>
      <div class="card-body" style="font-size:12px">
      <table class="table table-bordered" style="max-height: 50px">
            <thead>
              <tr>
                <th>Date</th>
                <th>Stock Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{histData['JPM'][0][0]}}</td>
                <td>{{histData['JPM'][0][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['JPM'][1][0]}}</td>
                <td>{{histData['JPM'][1][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['JPM'][2][0]}}</td>
                <td>{{histData['JPM'][2][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['JPM'][3][0]}}</td>
                <td>{{histData['JPM'][3][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['JPM'][4][0]}}</td>
                <td>{{histData['JPM'][4][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['JPM'][5][0]}}</td>
                <td>{{histData['JPM'][5][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['JPM'][6][0]}}</td>
                <td>{{histData['JPM'][6][1]}}</td>
              </tr>
            </tbody>
          </table></div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">
      <h4 class="card-title">
        <a class="card-link" data-toggle="collapse" href="#collapse4" style="font-size:15px;margin-left:15px;color:gray">
        MICROSOFT CORP.</a>
      </h4>
    </div>
    <div id="collapse4" class="card-collapse collapse in">
        <div class="card-header" style="font-family: Arial Light;font-size: 11px"><strong>NASDAQ: MSFT</strong></div>
      <div class="card-body" style="font-size:12px">
      <table class="table table-bordered" style="max-height: 50px">
            <thead>
              <tr>
                <th>Date</th>
                <th>Stock Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{histData['MSFT'][0][0]}}</td>
                <td>{{histData['MSFT'][0][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['MSFT'][1][0]}}</td>
                <td>{{histData['MSFT'][1][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['MSFT'][2][0]}}</td>
                <td>{{histData['MSFT'][2][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['MSFT'][3][0]}}</td>
                <td>{{histData['MSFT'][3][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['MSFT'][4][0]}}</td>
                <td>{{histData['MSFT'][4][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['MSFT'][5][0]}}</td>
                <td>{{histData['MSFT'][5][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['MSFT'][6][0]}}</td>
                <td>{{histData['MSFT'][6][1]}}</td>
              </tr>
            </tbody>
          </table></div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">
      <h4 class="card-title">
        <a class="card-link" data-toggle="collapse" href="#collapse5" style="font-size:15px;margin-left:15px;color:gray">
        NEW YORK TIMES CO.</a>
      </h4>
    </div>
    <div id="collapse5" class="card-collapse collapse in">
        <div class="card-header" style="font-family: Arial Light;font-size: 11px"><strong>NYSE: NYT</strong></div>
      <div class="card-body" style="font-size:12px">
      <table class="table table-bordered" style="max-height: 50px">
            <thead>
              <tr>
                <th>Date</th>
                <th>Stock Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{histData['NYT'][0][0]}}</td>
                <td>{{histData['NYT'][0][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['NYT'][1][0]}}</td>
                <td>{{histData['NYT'][1][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['NYT'][2][0]}}</td>
                <td>{{histData['NYT'][2][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['NYT'][3][0]}}</td>
                <td>{{histData['NYT'][3][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['NYT'][4][0]}}</td>
                <td>{{histData['NYT'][4][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['NYT'][5][0]}}</td>
                <td>{{histData['NYT'][5][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['NYT'][6][0]}}</td>
                <td>{{histData['NYT'][6][1]}}</td>
              </tr>
            </tbody>
          </table></div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">
      <h4 class="card-title">
        <a class="card-link" data-toggle="collapse" href="#collapse6" style="font-size:15px;margin-left:15px;color:gray">
        WALT DISNEY COMPANY</a>
      </h4>
    </div>
    <div id="collapse6" class="card-collapse collapse in">
        <div class="card-header" style="font-family: Arial Light;font-size: 11px"><strong>NYSE: DIS</strong></div>
      <div class="card-body" style="font-size:12px">
      <table class="table table-bordered" style="max-height: 50px">
            <thead>
              <tr>
                <th>Date</th>
                <th>Stock Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{histData['DIS'][0][0]}}</td>
                <td>{{histData['DIS'][0][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['DIS'][1][0]}}</td>
                <td>{{histData['DIS'][1][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['DIS'][2][0]}}</td>
                <td>{{histData['DIS'][2][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['DIS'][3][0]}}</td>
                <td>{{histData['DIS'][3][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['DIS'][4][0]}}</td>
                <td>{{histData['DIS'][4][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['DIS'][5][0]}}</td>
                <td>{{histData['DIS'][5][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['DIS'][6][0]}}</td>
                <td>{{histData['DIS'][6][1]}}</td>
              </tr>
            </tbody>
          </table></div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">
      <h4 class="card-title">
        <a class="card-link" data-toggle="collapse" href="#collapse7" style="font-size:15px;margin-left:15px;color:gray">
        GENERAL ELECTRIC CO.</a>
      </h4>
    </div>
    <div id="collapse7" class="card-collapse collapse in">
        <div class="card-header" style="font-family: Arial Light;font-size: 11px"><strong>NYSE: GE</strong></div>
      <div class="card-body" style="font-size:12px">
      <table class="table table-bordered" style="max-height: 50px">
            <thead>
              <tr>
                <th>Date</th>
                <th>Stock Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{histData['GE'][0][0]}}</td>
                <td>{{histData['GE'][0][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['GE'][1][0]}}</td>
                <td>{{histData['GE'][1][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['GE'][2][0]}}</td>
                <td>{{histData['GE'][2][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['GE'][3][0]}}</td>
                <td>{{histData['GE'][3][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['GE'][4][0]}}</td>
                <td>{{histData['GE'][4][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['GE'][5][0]}}</td>
                <td>{{histData['GE'][5][1]}}</td>
              </tr>
              <tr>
                <td>{{histData['GE'][6][0]}}</td>
                <td>{{histData['GE'][6][1]}}</td>
              </tr>
            </tbody>
          </table></div>
    </div>
  </div>
</div>
</div>

<div class = "col-sm-1"></div>

    <div class = "col-sm-6">
        <div class = "card" style="width:450px;text-align:left;"><br>
            <h2>Order Stocks</h2>
            <form action="http://127.0.0.1:5000/level3/result/{{numDays}}" method = "POST" style="max-width: 400px;text-align: center;padding-left: 55px">
              <!-- <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" name="email" class="form-control" {{portfolio['AAPL
      ']}}="Enter email" id="email">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" name="pwd" class="form-control" {{portfolio['AAPL
      ']}}="Enter password" id="pwd">
              </div> -->
              <div class="form-group">
                <label for="stock">Select Stock:</label>
                <select name="stockName" class="form-control" id="stock1">
                  <option>AAPL</option>
                  <option>BLK</option>
                  <option>JPM</option>
                  <option>MSFT</option>
                  <option>NYT</option>
                  <option>DIS</option>
                  <option>GE</option>
                </select>
              </div>
              <div class="form-group">
                <label for="numBuy">Quantity of Normal Stocks:</label>
                <input type="number" name="numBuy" class="form-control" placeholder="Enter number of stocks to buy" id="numBuy">
              </div>
              <div class="form-group">
                <label for="numShort">Quantity of Shorted Stocks:</label>
                <input type="number" name="numShort" class="form-control" placeholder="Enter number of stocks to short" id="numShort">
              </div>
              <div class="form-group">
                <label for="sel1">Select Action:</label>
                <select name="buySell" class="form-control" id="sel1">
                  <option>Buy</option>
                  <option>Sell</option>
                  <option>Buy to Cover (Short)</option>
                  <option>Sell Short</option>
                </select>
              </div>
              <input type="submit" name="submit_button" value="Submit" style="background-color: #F26E22;
            color: white;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 17px;
            font-family: 'Arial Light';
            vertical-align: middle;
            padding: 15px 28px;
            border-radius: 3px;"></input>
            </form>
            <br><br>
    </div>

    <br>

    <div class = "row">
        <div class="col-sm-3">
            <h3>Portfolio</h3>
        </div>
        <div class="col-sm-7">
            <h5>Current Account Value: ${{assets}}</h5>
        </div>
    </div>

    <br>

    <div class="progress" style="height:40px;width:550px;">
        <div class="progress-bar" style="(width:{{100000-assets}}/100000)*100%;height:40px;font-size:17px;background-color:brown">Your Used Funds: {{100000-assets}}</div>
    </div>

    <br>

    <table class="table table-hover" style="width:550px">
    <thead>
      <tr>
        <th>Stock</th>
        <th>Quantity</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>AAPL - Apple Inc.</td>
        <td>{{portfolio['AAPL']}}</td>
        <td>{{histData['AAPL'][0][1]*portfolio['AAPL']}}</td>
      </tr>
      <tr>
        <td>BLK - BlackRock</td>
        <td>{{portfolio['BLK']}}</td>
        <td>{{histData['BLK'][0][1]*portfolio['BLK']}}</td>
      </tr>
      <tr>
        <td>JPM - JPMorgan Chase</td>
        <td>{{portfolio['JPM']}}</td>
        <td>{{histData['JPM'][0][1]*portfolio['JPM']}}</td>
      </tr>
      <tr>
        <td>MSFT - Microsoft Inc.</td>
        <td>{{portfolio['MSFT']}}</td>
        <td>{{histData['MSFT'][0][1]*portfolio['MSFT']}}</td>
      </tr>
      <tr>
        <td>NYT - New York Times Co.</td>
        <td>{{portfolio['NYT']}}</td>
        <td>{{histData['NYT'][0][1]*portfolio['NYT']}}</td>
      </tr>
      <tr>
        <td>DIS - Walt Disney Company</td>
        <td>{{portfolio['DIS']}}</td>
        <td>{{histData['DIS'][0][1]*portfolio['DIS']}}</td>
      </tr>
      <tr>
        <td>GE - General Electric Co.</td>
        <td>{{portfolio['GE']}}</td>
        <td>{{histData['GE'][0][1]*portfolio['GE']}}</td>
      </tr>
    </tbody>
  </table>
  <div class ="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <form action="http://127.0.0.1:5000/level3/result/{{numDays}}" method = "POST" style="max-width: 200px;text-align: center;padding-left: 40px">
          <div class="form-group">
            <label for="sel1">Skip Forward Length:</label>
            <select class="form-control" id="sel1">
              <option>One Week</option>
              <option>Two Weeks</option>
              <option>One Month</option>
            </select>
          </div>
          <input type="submit" name="submit_button" value="Skip Forward" style="background-color: #F26E22;
            color: white;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 17px;
            font-family: 'Arial Light';
            vertical-align: middle;
            padding: 15px 28px;
            border-radius: 3px;"></input>
        </form>
</div>
</div>

<br><br><br><br><br><br><br>

</div>
<!-- Modal -->

<div id="pass" class="modal">
    <div class="modal-content" style="max-height:600px;max-width:600px">
      <div class="modal-header">
        <p style="font-size:25px;margin-left:15px;color:gray;text-align:center">Level 1 Result: Passed!</p><br>
      </div>
      <div class="modal-body" style="text-align:left;max-height:150px">
            <br><h6><strong>Mid 2000s: Rise of the Housing Bubble</strong></h6>
            <p>
                In the mid-2000s, the U.S. economy experienced a housing bubble that had a direct relationship to the Great Recession. Following the dotcom bubble, values in real estate began to creep up, fueling a rise in homeownership among speculative buyers, investors, and other consumers. This drove home prices up even more.
                <br><br><br><a href="https://www.investopedia.com/articles/07/housing_bubble.asp" style="color:#F26E22">Read More</a>
            </p>
      </div>
      <div class="modal-footer">
        <div class="right"><br>
            <a href={{ url_for('endPage')}} class="btn btn-primary" style="background-color:#F26E22">Continue</a>
        </div>
      </div>
  </div>
</div>

<div id="fail" class="modal">
    <div class="modal-content" style="max-height:600px;max-width:600px">
      <div class="modal-header">
        <p style="font-size:25px;margin-left:15px;color:gray;text-align:center">Level 1 Result: Failed</p><br>
      </div>
      <div class="modal-body" style="text-align:left;max-height:150px">
            <br><h6><strong>Hint: Current Events</strong></h6>
            <p>
            In the mid-2000s, how did the housing market affect the stock market?
            <br><br><br><a href="https://www.investopedia.com/articles/07/housing_bubble.asp" style="color:#F26E22">Read More</a>
            </p>
      </div>
      <div class="modal-footer">
        <div class="right"><br>
            <a href={{ url_for('index')}} class="btn btn-secondary">Exit</a>
            <a href={{ url_for('level3')}} class="btn btn-primary" style="background-color:#F26E22">Try Again</a>
        </div>
      </div>
  </div>
</div>

        <script>
            var e = document.getElementById("flip-1");
            var modal;
            var span;
            if (true) {
                modal = document.getElementById("pass");

                span = document.getElementsByClassName("close")[0];

            } else {
                modal = document.getElementById("fail");

                span = document.getElementsByClassName("close")[1];

            }
            var btn = document.getElementById("myBtn");

            btn.onclick = function () {
                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }
        </script>

    </div>
</body>

</html>
